[akari]
animation_frames = assets/akari/
still_frame = assets/akari/frame-8.png
caption_type = akari

[twitter]
consumer_key =
consumer_secret =
access_token =
access_token_secret =
sources_whitelist = Twitter for Android, Twitter for iPad, Twitter for iPhone, Twitter for Mac, Twitter for Windows, Twitter for Windows Phone, Twitter Web Client, TweetDeck, Tweetbot for iΟS, Tweetbot for Mac, Mobile Web, Mobile Web (M2), Mobile Web (M5)
text_blacklist = @FAMOUSdotAF, \bfavs?\b
no_results_image = assets/no-results.gif
error_image = assets/out-of-service.gif

[telegram]
token =
rate_limit_exemptions =

[image_search]
banned_sources = desmotivaciones.es, akifrases.com, cartelescreativos.com, izquotes.com
user_agent = Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36

[mail]
enabled = no
from =
to =
mailgun_key =
mailgun_domain =
